@font-face {
  font-family: 'Montserrat';
  src: url('../assets/Fonts/montserat/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400; 
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/Fonts/montserat/Montserrat-Medium.otf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir'; 
  src: url('../assets/Fonts/avenir/Avenir-Book.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}